@use 'sass:map';

// TODO apagar pois esta no arquivo errado
body {
  font-family: Roboto;
}

.home {
  height: calc(100vh - 145px);
  background: url(../../images/imagem-home.png) #032333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: bottom;
  position: relative;
  background-size: cover;
  padding: 20px;

  @media (max-width: 768px) {
    height: auto !important;
    padding: 100px 30px !important;
  }

  &__chamada {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    // TODO apagar pois tem que vir de parente
    font-family: 'Lato', sans-serif;

    &--large {
      font-size: 120px;
      font-weight: 900;
      margin-top: -40px;
      color: white;
    }
  }

  &__title {
    color: #ffffff;
    text-align: justify;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 400;
    max-width: 1020px;
    line-height: 32px;
  }

  &__next-section {
    width: 120px;
    position: absolute;
    opacity: 0.3;
    bottom: 20px;

    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
}
