.clm {
  --color-primary: #bf9f40;
  --color-secondary: #bf4040;
}

.cir {
  --color-primary: #45ac39;
  --color-secondary: #3971ac;
}

.go {
  --color-primary: #8840bf;
  --color-secondary: #bf4086;
}

.pre {
  --color-primary: #409bbf;
  --color-secondary: #8840bf;
}

.ped {
  --color-primary: #bf409b;
  --color-secondary: #bf5340;
}

.outros {
  --color-primary: #4440bf;
  --color-secondary: #40bbbf;
}

.nopapo {
  --color-primary: #bf4840;
  --color-secondary: #4240bf;
}
